<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.usermsg.UserMsgMapper">

    <select id="getUserMsgList" resultType="UserMsgVO">
        select type,time,title,content,extra
        from user_msg
        where user_id=#{userId} and merchant_id=#{merchantId}
              limit ${page},${pageSize};
    </select>

</mapper>