<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.usercard.UserCardMapper">

    <select id="getUserCardList" resultType="UserCard" parameterType="HeaderVO">
        select *
        from user_card
        where user_id = #{userId}
          and merchant_id = #{merchantId}
    </select>

    <insert id="addBankCard" parameterType="AddBankCardVO">
        insert into user_card
        values (0, #{headerVO.userId}, #{bankId}, #{bankPlace}, #{userName}, #{bankCode}, 0, #{time}, null, 0, #{headerVO.merchantId})
    </insert>
</mapper>